.main-container{
    height:842px;
    width:1491px;
    border: 1px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.snake{
    min-height: 50px;
    width: 50px;
    border: 1px solid #fff;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    color: transparent;
}